<!doctype html>
<html>
<head>
	<title>FinApp | Builder</title>
	<link rel="stylesheet" type="text/css" href="/static/normalize.css"></link>
	<link rel="stylesheet" type="text/css" href="/static/main.css"></link>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css"></link>

</head>
<body>
      
        <!-- APP WRAPPER -->
        <div class="app">           

            <!-- START APP CONTAINER -->
            <div class="app-container">                                
                
                
                <!-- START APP CONTENT -->
                <div class="app-content">
                 <!-- START APP HEADER -->
                    <div class="app-header">
                        <ul class="app-header-buttons">
                            <li><a href="/profile">Profile</a></li>
                            <li class="active"><a href="/builder">Builder <span class="sr-only">(current)</span></a></li>
                        </ul>
                        <form class="app-header-search">        
                            <input type="text" name="keyword" placeholder="Search" id="searchBox">
                        </form>    
                    
                        <ul class="app-header-buttons pull-right">
                            <li>

                          <div class="buying"> <button name="buy-button" id="buy-button">Buy this stock</button></div>
        
                               
                                    <div class="contact-controls">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-cog"></span></button>                        
                                            <ul class="dropdown-menu dropdown-left">
                                               
                                                <li><a href="/logout"><span class="icon-exit"></span> Log Out</a></li> 
                                            </ul>
                                        </div>                    
                                    </div>
                                
                            </li>        
                        </ul>
                    </div>
                    <!-- END APP HEADER  -->