<!doctype html>
<html>
<head>
	<title>FinApp | Builder</title>
	
   
</head>
<body>
<div class="container">

<input type="text" id="search-term">
    
</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="../main.js"></script>
</body>
</html>