<% include inc/header %>


<div class="container">
<!-- id for input should be 'search-term' -->
<div class="container result">
	<div class="container intro">
		<h1 id="companyName">Test Company Inc</h1>
		<h2 id="companyTicker">TCINC</h2>
		<h3 id=><span id="currentPrice"></span> <span id="percentChange"> (+.03%)</span></h3>
	</div>
	<div class="buy-it">
		<button name="buy-button" id="buy-button">Buy this stock</button>
	</div>

	
	<div id='chart'>
		<canvas id='lineChart1'></canvas>
	</div>
		
</div>
<div class="panel panel-default">
	<table class="table table-hover table-condensed table-bordered">
	<tr>
		<th>Name</th>
		<th>Value</th>
		<th>Meaning</th>
	</tr>
	<tr>
		<td>Price-earnings Ratio</td>
		<td id="pe">xxx</td>
		<td>This data point represents the price you pay for every $1 dollar in earnings. Most investors want this number to be low, meaning you aren't paying a lot to earn money</td>
	
	</tr>
	<tr>
		<td>Debt-to-Equity</td>
		<td id="de">xxx</td>
		<td>This number shows how much debt a company holds relative to how much they're worth. When this number increases, a company tends to become less-able to meet its debt obligations</td>
	
	</tr>
	<tr>
		<td>Return on Equity</td>
		<td id="roe">xxx</td>
		<td>Return on Equity tells you how much a company rewards you for each share you hold. You want this to be high</td>
	</tr>
	<tr>
		<td>Return on Assets</td>
		<td id="roa">xxx</td>
		<td>This number defines how well a company uses its assets to make money. Like Return on Equity, you want this to be high - it means a company can do a lot with what it has</td>
	</tr>
	<tr>
		<td>Current Ratio</td>
		<td id="currentratio">xxx</td>
		<td>This data point shows you if a company can pay its short-term liabilities with the assets it has on hands. If this number is less than 0, a company has more short-term debts than short-term assets, which could be dangerous if something goes wrong </td>
	</tr>
	<tr>
		<td>Asset Turnover Ratio</td>
		<td id="assetturnover">xxx</td>
		<td>This number is similar to Return on Assets. If it is higher, it means a company is good at using its assets to make more money</td>
	</tr>
	</table>
</div>
	<div class="container news" id="news">
			<h1>News related to Apple</h1>
				<div class="news-items"></div>


				<div class="templates">
					<div class="news-item">
						<h4>Title: <span class="title"></span></h4>
						<h6>Date: <span class="date"></span> </h6>
						<h5>Summary: <span class="summary"></span> </h5>
						<h6>url: <span class="url"></span> </h6>
					</div>
				</div>
	</div>
	
</div>

<% include inc/footer %>