<% include inc/header %>
        
                    <!-- START PAGE SEPARATED CONTAINER -->
                      
                        <div class="app-content-separate-content">
                            <!-- CONTENT CONTAINER -->
                            <div class="container">
                                
                                <div class="row">
                                    <div class="col-lg-8 col-md-6">
                                        
                                        
                                        <div class="block block-condensed padding-top-20">
                                            <div class="block-content">
                                                <div class="form-group">
                                                    <textarea name="text" class="form-control" placeholder="Your message..." rows="3"></textarea>
                                                </div>                                            
                                                <div class="form-group">
                                                
                                                    
                                                    <button class="btn btn-default btn-icon-fixed pull-right"><span class="fa fa-paper-plane"></span> Post Message</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="app-timeline">
                                            
                                            <div class="app-timeline-item">
                                                <div class="user"><img src="assets/images/users/user_1.jpg" alt="Taylor Watson"></div>
                                                <div class="content">
                                                    <div class="title"><a href="#">Taylor Watson</a> posted comment to <strong>Awesome article</strong></div>
                                                    <p>Praesent <strong>tellus elit</strong>, efficitur sit amet ex id, euismod auctor risus. <strong>Nullam a arcu tincidunt</strong>, ultrices nulla vitae, porta est.</p>
                                                    <p>
                                                        <a href="#" class="text-muted margin-right-10"><span class="fa fa-comment"></span> Comments</a>
                                                        <a href="#" class="text-muted margin-right-10"><span class="fa fa-share-alt"></span> Share</a>
                                                        <a href="#" class="text-muted"><span class="fa fa-bullhorn"></span> Report</a> 
                                                        
                                                        <span class="pull-right text-muted"><i class="fa fa-clock-o"></i> 5 min ago</span>                                                                                                                
                                                    </p>
                                                    <div class="comments">
                                                        <div class="total">3 Comments for this post</div>
                                                        <div class="comment">
                                                            <div class="contact contact-rounded contact-lg">
                                                                <img src="assets/images/users/user_7.jpg">
                                                                <div class="contact-container">
                                                                    <a href="#">Jared Stevens</a>
                                                                    <span>Hey! This is really awesome thing... Wha do you think about it?</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment">
                                                            <div class="contact contact-rounded contact-lg">
                                                                <img src="assets/images/users/user_4.jpg">
                                                                <div class="contact-container">
                                                                    <a href="#">Lilu Dallas</a>
                                                                    <span>Multi-pasport...</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="comment">
                                                            <div class="contact contact-rounded contact-lg">
                                                                <img src="assets/images/users/user_6.jpg">
                                                                <div class="contact-container">
                                                                    <a href="#">Corben Dallas</a>
                                                                    <span>Wow... nice! Like like like...</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" placeholder="Your comment...">
                                                                    <div class="input-group-btn">
                                                                        <button class="btn btn-default">Post Comment</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            
                                            <div class="app-timeline-item">
                                                <div class="user"><img src="assets/images/users/user_2.jpg" alt="Jessie Franklin"></div>
                                                <div class="content">
                                                    <div class="title"><a href="#">Jessie Franklin</a> commented <strong>New York City photo</strong></div>                                                    
                                                    <p>Mauris tempor semper viverra. <strong>Aliquam laoreet malesuada</strong> nisl, fringilla accumsan mi condimentum a. <a href="#">Nullam lacinia egestas</a>. Proin iaculis malesuada mi, quis <a href="#">@Iaculis</a> magna tristique sed.</p>
                                                    <p>
                                                        <a href="#" class="text-muted margin-right-10"><span class="fa fa-comment"></span> Comments</a>
                                                        <a href="#" class="text-muted margin-right-10"><span class="fa fa-share-alt"></span> Share</a>
                                                        <a href="#" class="text-muted"><span class="fa fa-bullhorn"></span> Report</a> 

                                                        <span class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 min ago</span>
                                                    </p> 
                                                    
                                                    <div class="comments">
                                                        <div class="total">1 Comments for this post</div>                                                        
                                                        <div class="comment">
                                                            <div class="contact contact-rounded contact-lg">
                                                                <img src="assets/images/users/user_8.jpg">
                                                                <div class="contact-container">
                                                                    <a href="#">Mary Londro</a>
                                                                    <span>I saw this place tomorrow... really beautiful place!</span>
                                                                </div>
                                                            </div>
                                                        </div>                                                        
                                                        <div class="form">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" placeholder="Your comment...">
                                                                    <div class="input-group-btn">
                                                                        <button class="btn btn-default">Post Comment</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            
                                            <div class="app-timeline-more">
                                                <a href="#">...</a>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        
                                        <div class="block">
                                            <div class="app-heading app-heading-small">                                
                                                <div class="title">
                                                    <h3>Friend Finder</h3>
                                                </div>             
                                                <div class="heading-elements visible-lg-block">
                                                    <a href="#" class="btn btn-primary btn-clean">Search</a>
                                                </div>
                                            </div> 
                                            
                                            <div class="contact contact-rounded contact-bordered contact-lg status-online">
                                                <img src="assets/images/users/user_1.jpg">
                                                <div class="contact-container">
                                                    <a href="#">John Doe</a>
                                                    <span>2 min ago</span>
                                                </div>
                                               
                                            </div>
                                            <div class="contact contact-rounded contact-bordered contact-lg status-online">
                                                <img src="assets/images/users/user_2.jpg">
                                                <div class="contact-container">
                                                    <a href="#">Juan Obrien</a>
                                                    <span>15 hours ago</span>
                                                </div>
                                               
                                            </div>
                                            <div class="contact contact-rounded contact-bordered contact-lg status-online">
                                                <img src="assets/images/users/user_3.jpg">
                                                <div class="contact-container">
                                                    <a href="#">Erin Stewart</a>
                                                    <span>2 days ago</span>
                                                </div>
                                                
                                            </div>
                                            <div class="contact contact-rounded contact-bordered contact-lg status-online">
                                                <img src="assets/images/users/user_4.jpg">
                                                <div class="contact-container">
                                                    <a href="#">Elaine Harper</a>
                                                    <span>2 days ago</span>
                                                </div>
                                               
                                            </div>
                                            <div class="contact contact-rounded contact-bordered contact-lg status-away">
                                                <img src="assets/images/users/user_5.jpg">
                                                <div class="contact-container">
                                                    <a href="#">Chester Vargas</a>
                                                    <span>Month ago</span>
                                                </div>
                                              
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                            <!-- END CONTENT CONTAINER -->
                        </div>
                    </div>
                    <!-- END PAGE SEPARATED CONTAINER -->
                    
<% include inc/footer %>