<% include inc/header %>
                    
                    <!-- START PAGE HEADING -->
                    <div class="app-heading app-heading-bordered app-heading-page">
                        <div class="icon icon-lg">
                            <span class="icon-laptop-phone"></span>
                        </div>
                        <div class="title">
                            <h1>FinApp - This is your portfolio</h1>
                        </div>               
                        
                    </div>
                   
                    <!-- END PAGE HEADING -->
                    
                    <!-- START PAGE CONTAINER -->
                    <div class="container">
                                                
                        <div class="row">
                            <div class="col-md-3">
    
                                <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile">
                                            <div class="line">
                                                <div class="title">Portfolio Value</div>
                                                <div class="title pull-right"><span class="label label-success label-ghost label-bordered">+1.2%</span></div>
                                            </div>                                        
                                            <div class="intval">$9,427</div>                                        
                                        </div>                                                                        
                                        <!-- END WIDGET -->
                                    </li>
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile">
                                            <div class="line">
                                                <div class="title"># of Stocks You Own</div>
                                            </div>                                        
                                            <div class="intval">5</div>
                                    
                                        </div>                                                                        
                                        <!-- END WIDGET -->
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="col-md-3">
                                
                                <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="line">
                                                <div class="title">Daily Performance</div>
                                            </div>                                        
                                            <div class="intval">+.03%</div>
                                        </div>
                                        <!-- END WIDGET -->
                                    </li>
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="line">
                                                <div class="title">Weekly Performance</div>
                                            </div>                                        
                                            <div class="intval">+1.1%</div>
                                        </div>
                                        <!-- END WIDGET -->
                                    </li>
                                   
                                </ul>
                                                                
                            </div>
                            <div class="col-md-3">
                                
                                <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
                                    <li>                                        
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon icon-lg">
                                                        <span class="icon-bubble"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">                                                    
                                                    <div class="line">
                                                        <div class="title">AAPL</div>         
                                                        <div class="title pull-right"><span class="label label-success label-ghost label-bordered">+1.2%</span></div>
                                                    </div>                                        
                                                    <div class="intval text-left">$187.97</div>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END WIDGET -->                                        
                                    </li>
                                    <li>                                        
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon icon-lg">
                                                        <span class="icon-bubble"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">                                                    
                                                    <div class="line">
                                                        <div class="title">GOOGL</div>         
                                                        <div class="title pull-right"><span class="label label-success label-ghost label-bordered">+.01%</span></div>
                                                    </div>                                        
                                                    <div class="intval text-left">$800.12</div>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END WIDGET -->                                         
                                    </li>
                                    <li>                                        
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon icon-lg">
                                                        <span class="icon-bubble"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">                                                    
                                                    <div class="line">
                                                        <div class="title">MSFT</div>         
                                                        <div class="title pull-right"><span class="label label-success label-ghost label-bordered">-1.1%</span></div>
                                                    </div>                                        
                                                    <div class="intval text-left">$150.12</div>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END WIDGET -->                                        
                                    </li>
                                    
                                </ul>
                                
                            </div>
                            
                            
                        <div class="row">
                            <div class="col-md-6">
                                
                                <!-- START PRODUCT SALES HISTORY -->
                                <div class="block block-condensed">
                                    <div class="app-heading">                                        
                                        <div class="title">
                                            <h2>Portfolio Performance</h2>
                                            <p>Year to Date % Change in Value</p>
                                        </div>              
                                        
                                    </div>
                                    
                                    <div class="block-content">
                                        <div class="app-chart-wrapper app-chart-with-axis">
                                           <div id='chart'>
                                            <canvas id='lineChart1'></canvas>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PRODUCT SALES HISTORY -->
                                
                            </div>
                            <div class="col-md-6">
                                
                                <!-- START LATEST TRANSACTIONS -->
                                <div class="block block-condensed">
                                    <div class="app-heading">                                        
                                        <div class="title">
                                            <h2>Latest Transactions</h2>
                                            <p>Quick information</p>
                                        </div>              
                                        <div class="heading-elements">
                                            <button class="btn btn-default btn-icon-fixed"><span class="icon-file-add"></span> All Transactions</button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <div class="table-responsive">
                                            <table class="table table-clean-paddings margin-bottom-0">
                                                <thead>
                                                    <tr>
                                                        <th>Stock</th>
                                                        <th width="150">Volume</th>                                                    
                                                        <th width="150">Status</th>
                                                        <th width="55"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="contact contact-rounded contact-bordered contact-lg">
                                                                <img src="assets/images/users/user_2.jpg">
                                                                <div class="contact-container">
                                                                    <a href="#">AAPL</a>
                                                                    <span>on July 13, 2016</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>50 Shares</td>
                                                        <td><span class="label label-success label-bordered">Buy Order</span></td>
                                                    
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="contact contact-rounded contact-bordered contact-lg">
                                                                <img src="assets/images/users/user_3.jpg">
                                                                <div class="contact-container">
                                                                    <a href="#">GOOGL</a>
                                                                    <span>on July 12, 2016</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>10 Shares</td>
                                                        <td><span class="label label-warning label-bordered">Sell Order</span></td>                                                    
                                                    
                                                    </tr>                                                
                                                                                                 
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- END LATEST TRANSACTIONS -->
                                
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    <!-- END PAGE CONTAINER -->
                    
<% include inc/footer %>