<% include inc/header %>
                    
                    <!-- START PAGE HEADING -->
                    <div class="app-heading app-heading-bordered app-heading-page">
                        <div class="icon icon-lg">
                            <span class="icon-laptop-phone"></span>
                        </div>
                        <div class="title">
                            <h1>FinApp - This is your portfolio</h1>
                        </div>               
                        
                    </div>
                   
                    <!-- END PAGE HEADING -->
                    
                    <!-- START PAGE CONTAINER -->
                    <div class="container">
                                                
                        <div class="row">
                            <div class="col-md-3">
    
                                <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile">
                                            <div class="line">
                                                <div class="title">Portfolio Value</div>
                                                <div class="title pull-right"><span class="label label-success label-ghost label-bordered">+1.2%</span></div>
                                            </div>                                        
                                            <div class="intval"><span class="pVal">$9,427</span></div>                                        
                                        </div>                                                                        
                                        <!-- END WIDGET -->
                                    </li>
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile">
                                            <div class="line">
                                                <div class="title"># of Positions You Hold</div>
                                            </div>                                        
                                            <div class="intval"><span class="numpos">5</span></div>
                                    
                                        </div>                                                                        
                                        <!-- END WIDGET -->
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="col-md-3">
                                
                                <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0">
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="line">
                                                <div class="title">Daily Performance</div>
                                            </div>                                        
                                            <div class="intval">+.03%</div>
                                        </div>
                                        <!-- END WIDGET -->
                                    </li>
                                    <li>
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="line">
                                                <div class="title">Weekly Performance</div>
                                            </div>                                        
                                            <div class="intval">+1.1%</div>
                                        </div>
                                        <!-- END WIDGET -->
                                    </li>
                                   
                                </ul>
                                                                
                            </div>
                            <div class="col-md-3">
                                
                                <ul class="app-feature-gallery app-feature-gallery-noshadow margin-bottom-0 positionsUl">
                                
                                    <li>                                        
                                        <!-- START WIDGET -->
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon icon-lg">
                                                        <span class="icon-bubble"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">                                                    
                                                    <div class="line">
                                                        <div class="title">Company</div>         
                                                        <div class="title pull-right"><span class="label label-success label-ghost label-bordered"># of Shares</span></div>
                                                    </div>                                        
                                                    <div class="intval text-left">$ Value</div>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END WIDGET -->                                         
                                    </li>
                                  
                                    
                                </ul>
                                
                            </div>
                            
                            
                        <div class="row">
                            <div class="col-md-3">
                                
                                <!-- START PORTFOLIO PERFORMANCE -->
                                <div class="block block-condensed">
                                    <div class="app-heading">                                        
                                        <div class="title">
                                            <h2>Portfolio Performance</h2>
                                            <p>Year to Date % Change in Value</p>
                                        </div>              
                                        
                                    </div>
                                    
                                    <div class="block-content">
                                        <div class="app-chart-wrapper app-chart-with-axis">
                                           <div id='portfolio-chart'>
                                            <canvas id='portfolioperformance'></canvas>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PORTFOLIO PERFORMANCE -->
                                
                            </div>
                            <div class="col-md-3">
                                
                                <!-- START SECTOR BREAKDOWN -->
                                <div class="block block-condensed">
                                    <div class="app-heading">                                        
                                        <div class="title">
                                            <h2>Portfolio Breakdown</h2>
                                            <p>Breakdown of your portfolio by sector</p>
                                        </div>              
                                        
                                    </div>
                                    
                                    <div class="block-content">
                                        <div class="app-chart-wrapper app-chart-with-axis">
                                           <div id='breakdown-chart'>
                                            <canvas id='breakdown'></canvas>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END SECTOR BREAKDOWN -->
                                
                            </div>
                            <div class="col-md-3">
                                
                                <!-- START VALUE MAKEUP -->
                                <div class="block block-condensed">
                                    <div class="app-heading">                                        
                                        <div class="title">
                                            <h2>Portfolio Value Distribution</h2>
                                            <p>% of overall value by company</p>
                                        </div>              
                                        
                                    </div>
                                    
                                    <div class="block-content">
                                        <div class="app-chart-wrapper app-chart-with-axis">
                                           <div id='sector-chart'>
                                            <canvas id='sectorperformance'></canvas>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END VALUE MAKEUP -->
                                
                            </div>
                           
                             <table class="table table-head-light table-striped results-table">
                                    <tr>                                            
                                        <th>Company</th>
                                        <th>Description</th>
                                        <th>Current Price</th>
                                        <th>Action Price</th>
                                        <th>Volume</th>
                                        <th>Sell / Buy</th>
                                    </tr>
                            
                            </table>
                        </div>


                    <!-- Table Row Template -->
                        <div class="templates">
                            <table>
                                <tr class="table-data">
                                    <td class="company">
                                           
                                                <div class="contact-container">
                                                    <h5 class="tableCompanyName"></h5>
                                                    <span class="tableCompanyTicker"></span>
                                                </div>
                                          
                                     </td>
                                    <td class="eDate">
                                        <p class="entryDate">
                                        <strong>This was a <span class="buyorsell"></span> order made on  <span class="date"></span></strong>
                                        <br> The volume of this transaction was <span class="entryVol"></span> shares <br> At <span class="cPriceAt"></span>, the value of this transaction is <span class="value"></span></p>
                                    </td> 
                                    <td class="cPrice">
                                        <span class="currentPrice"></span>
                                    </td>
                                    <td class="ePrice">
                                         <span class="entryPrice"></span>
                                    </td>
                                    <td class="inputter">
                                        <input class="bs-select" name="user_1">
                                             
                                        </input>
                                    </td>
                                    <td class="execute">
                                        <button id="sell">Sell</button>
                                        <button id="buy">Buy</button>
                                    </td>
        
                              </tr>
                          </table>
                        </div>
                    <!-- Table Row Template -->

                    </div>
                    <!-- END PAGE CONTAINER -->

                                    <div class="templates">

                                     <li class="tile-li">                                        
                                        <!-- START WIDGET TEMPLATE -->
                                       
                                        <div class="app-widget-tile app-widget-highlight">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="icon icon-lg">
                                                        <span class="icon-bubble"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">                                                    
                                                    <div class="line">
                                                        <div class="title companyname"><span class="companyname"></span></div>         
                                                        <div class="title pull-right"><span class="label label-success label-ghost label-bordered"><span class="vol"></span> Shares</span></div>
                                                    </div>                                        
                                                    <div class="intval text-left coVal">$<span class="posVal"></span></div>                                        
                                                </div>
                                            </div>
                                        </div>
                                      
                                        <!-- END WIDGET TEMPLATE -->                                        
                                    </li>
                                      </div>
<% include inc/footer %>